<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registration</title>
</head>

<body>
<h1>Register</h1>
<form method="POST" th:action="@{/register}" id="registerForm">

  <label for="username">Username: </label>
  <input type="text" name="username" id="username"/><br/>

  <label for="password">Password: </label>
  <input type="password" name="password" id="password"/><br/>

  <label for="fullname">Full name: </label>
  <input type="text" name="fullname" id="fullname"/><br/>

  <label for="street">Street: </label>
  <input type="text" name="street" id="street"/><br/>

  <label for="city">City: </label>
  <input type="text" name="city" id="city"/><br/>

  <label for="phone">Phone: </label>
  <input type="text" name="phone" id="phone"/><br/>

  <label for="role">Role: </label>
  <select name="role" id="role">
    <option value="USER"  selected>USER</option>
    <option value="EDITOR">EDITOR</option>
  </select><br/>

  <!--<label for="role">Role: </label>
  <input type="text" name="role" id="role"/><br/>-->

  <input type="submit" value="Register"/>
</form>

</body>
</html>